---
interface Props {
  title?: string;
  description?: string;
}
import site from "../../site.json";
import { ViewTransitions } from "astro:transitions";

const { title = site.title, description = site.description } = Astro.props;
---

<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <script is:inline>
      /* Check for dark mode preference */
      // Check media query
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        document.documentElement.classList.add("dark");
      } else if (localStorage.getItem("theme") === "dark") {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
